function Address.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 4
call Array.new 1
pop this 0
push constant 0
push this 0
add
push argument 0
push constant 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push argument 0
push constant 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push argument 0
push constant 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push argument 0
push constant 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
call Array.new 1
pop this 1
push constant 0
push this 1
add
push argument 1
push constant 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push argument 1
push constant 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push argument 1
push constant 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push argument 1
push constant 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push argument 1
push constant 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push argument 1
push constant 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Address.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Address.isIP 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label while2
push local 0
push constant 4
lt
not
if-goto whileend2
push this 0
push local 0
add
pop pointer 1
push that 0
push argument 1
push local 0
add
pop pointer 1
push that 0
eq
not
if-goto if3
goto ifelse3
label if3
push constant 0
return
label ifelse3
push local 0
push constant 1
add
pop local 0
goto while2
label whileend2
push constant 1
neg
return
function Address.getMAC 0
push argument 0
pop pointer 0
push this 1
return
function Address.setMAC 0
push argument 0
pop pointer 0
push constant 0
push this 1
add
push argument 1
push constant 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push argument 1
push constant 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push argument 1
push constant 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push argument 1
push constant 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push argument 1
push constant 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push argument 1
push constant 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Address.print 0
push argument 0
pop pointer 0
push this 0
call Address.printIP 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push this 1
call Address.printMAC 1
pop temp 0
push constant 0
return
function Address.printMAC 0
push argument 0
push constant 0
add
pop pointer 1
push that 0
call Output.printHex8 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push argument 0
push constant 1
add
pop pointer 1
push that 0
call Output.printHex8 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push argument 0
push constant 2
add
pop pointer 1
push that 0
call Output.printHex8 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push argument 0
push constant 3
add
pop pointer 1
push that 0
call Output.printHex8 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push argument 0
push constant 4
add
pop pointer 1
push that 0
call Output.printHex8 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push argument 0
push constant 5
add
pop pointer 1
push that 0
call Output.printHex8 1
pop temp 0
push constant 0
return
function Address.printIP 0
push argument 0
push constant 0
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push argument 0
push constant 1
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push argument 0
push constant 2
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push argument 0
push constant 3
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 0
return
