function Main.main 1
call Main.systemResetCommand 0
pop temp 0
push constant 2000
pop local 0
push constant 0
push local 0
add
push constant 55
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 77
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 88
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 99
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 111
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 5
call Main.writeBufferMemory 2
pop temp 0
push constant 0
return
function Main.systemResetCommand 0
push constant 0
push static 0
add
push constant 512
push constant 255
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Main.bitFieldClear 0
push constant 0
push static 0
add
push constant 512
push constant 160
or
push argument 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 512
push argument 1
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Main.bitFieldSet 0
push constant 0
push static 0
add
push constant 512
push constant 128
or
push argument 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 512
push argument 1
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Main.writeBufferMemory 1
push constant 0
push static 0
add
push constant 512
push constant 122
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 0
label while2
push local 0
push argument 1
lt
not
if-goto whileend2
push constant 0
push static 0
add
push constant 512
push argument 0
push local 0
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto while2
label whileend2
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Main.readBufferMemory 1
push constant 0
push static 0
add
push constant 512
push constant 58
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 0
label while2
push local 0
push argument 1
lt
not
if-goto whileend2
push constant 0
push static 0
add
push constant 512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push argument 0
add
push static 0
push constant 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto while2
label whileend2
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Main.writeControlRegister 0
push constant 0
push static 0
add
push constant 512
push constant 64
add
push argument 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 512
push argument 1
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Main.readControlRegister 1
push constant 0
push static 0
add
push constant 512
push argument 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push constant 512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 0
add
pop pointer 1
push that 0
pop local 0
push constant 0
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
