function Sys.init 0
call GPIO.init 0
pop temp 0
call Memory.init 0
pop temp 0
call Array.init 0
pop temp 0
call Math.init 0
pop temp 0
call UART.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Sound.init 0
pop temp 0
call Touch.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
call GPIO.getLed 0
push constant 2
add
call GPIO.setLed 1
pop temp 0
label while4
push constant 1
neg
not
if-goto whileend4
goto while4
label whileend4
push constant 0
return
function Sys.wait 1
push argument 0
push constant 0
lt
if-goto if1
goto ifelse1
label if1
push constant 1
call Sys.error 1
pop temp 0
label ifelse1
label while7
push argument 0
push constant 0
gt
not
if-goto whileend7
push constant 500
pop local 0
label while9
push local 0
push constant 0
gt
not
if-goto whileend9
push local 0
push constant 1
sub
pop local 0
goto while9
label whileend9
push argument 0
push constant 1
sub
pop argument 0
goto while7
label whileend7
push constant 0
return
function Sys.error 0
push constant 1
call GPIO.setLed 1
pop temp 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
