function Main.main 2
call Sound.init 0
pop temp 0
push constant 64
call String.new 1
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 1000
call Sound.new 2
pop local 0
label while4
push constant 1
neg
not
if-goto whileend4
push local 0
call Sound.go 1
pop local 1
push local 1
push constant 1
neg
gt
if-goto if5
goto ifelse5
label if5
push local 1
call Output.printInt 1
pop temp 0
label ifelse5
goto while4
label whileend4
push local 0
call Sound.dispose 1
pop temp 0
push constant 0
return
